.hour_item{
 display: flex;
 flex-direction: column;
 margin: 0 .5rem 0 .5rem;
 justify-content: space-between;
 align-items: center
}
.hour{
 
 font-weight: bold;
 font-size: 0.8em;
}
.weatherIcon{
  
  max-width: 170%;
  max-height: 170%;
}
.weathersvgIcon{
  width: 70%;
  height: auto;
}
.temp{
  
  font-size: 1.2em;
}