

.houres_container{
 height: 80%;
 display: flex;
 flex-direction: row;
 overflow-y: hidden;
 overflow-x: scroll; /* Must be 'scroll' not 'auto' */
 -webkit-overflow-scrolling: touch;

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

}
.HourlyForecast{

 margin-top: 3rem;
}