$flex-direction: row;

.DayData {
  display: flex;
  justify-content: space-around;
  height: 7vh;
  align-items: center;
  flex-direction: $flex-direction;
  img {
    
    max-width: 170%;
    max-height: 170%;
  }
  .dayIcon {
    width: 10%;
  }
  .dayName {
   // justify-content: flex-start;
    width: 10%;
  }
  .dayMinTemp{
    color: #bdbdbdbd;
  }
}
