$flex-direction:row;


.DayData{
 display: flex;
 justify-content: space-around;
 height: 7vh;
 align-items: center;
 flex-direction: $flex-direction;
img{
 height:100%;
 width:auto
}
.dayIcon{
 width: 10%;
}
.dayName{
 text-align: left;
width: 20%;
}
}

