.TempRangeBar{
    display: flex;
    height: 100%;
    width: 30vw;
  
    align-items: center;
.bar{
    height: 20%;
    width: 100%;
  
    background-color: #bdbdbdbd;
    border-radius: .5rem;
    //display: flex;
    //justify-content: center;
}

.gradient{
    border-radius: .5rem;
height: 100%;
display: flex;
align-items: center;

.dot {
    height: 80%;
    aspect-ratio: 1/1;
    background-color: white;
    border-radius: 50%;
  }
}
}