.my-cities-header {
  width: 80%;

  height: 20vh;
  position: fixed;
  top: 0;
}

.my-cities-header-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  .search-bar-container {
    display: flex;
    flex-direction: row;
    padding: 0.3rem;
    background-color: #222326;
    width: 100%;
    border-radius: 0.4rem;
    z-index: 0;
    align-items: center;
    input {
      color: white;
      background-color: transparent;
      width: 100%;
      border: none;
      outline-width: 0;
      margin-left: .5rem;
    }

    button.cancel-btn {
        display: none;
        color: white;
        padding: 0;
        .MuiSvgIcon-root{
            color: white;
        }
    }
    

  }

  h2 {
    align-self: start;
  }

  .more-btn {
    color: white;
    align-self: end;
    z-index: 100000;
  }
}
