.MyCitiesPage{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 25vh;
    
}
.page-wrapper{
    display: flex;
    justify-content: center;
    background-color: #0E1111;
    height: 100%;
}