@keyframes animatedBackground {
  0% { background-position: 0 0; }
  50% {background-position: 100% 0;}
  100% { background-position: 0 0; }
}

.pagewrapper{
  //background-color: lightblue;
  //background-image: url("../../../../resources/backgrounds/Clouds.jpg");
  //background-repeat: repeat-x ;
  //background-attachment: fixed;
  //background-size: cover;
  animation: animatedBackground 300s linear alternate infinite;
  color: white;  
}

.page{
    width: 85%;
    padding-top: 2rem;
    margin: auto;
    //width: 80%;
   /*
    h1{
      font-size: 4em;
    }
    h6{
      font-size: 1.5em;
    }
    */

 .smallBoxesContainer{
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.boxesRow{
  display: flex;
  flex-direction: row;
}

}





