@keyframes animatedBackground {
  0% { background-position: 0 0; }
  50% {background-position: 100% 0;}
  100% { background-position: 0 0; }
}


.page{
    background-image: url("../../../../resources/backgrounds/Clouds.jpg");
    background-repeat: repeat-x ;
    background-attachment: fixed;
    background-size: cover;
    animation: animatedBackground 300s linear alternate infinite;
    color: white;  
    padding-top: 2rem;
   /*
    h1{
      font-size: 4em;
    }
    h6{
      font-size: 1.5em;
    }
    */

 .smallBoxesContainer{
  display: flex;
  flex-direction: column;
}
.boxesRow{
  display: flex;
  flex-direction: row;
}

}





