@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@100&display=swap');


.CurrentTemperatureData{
    
    width: fit-content;
    
    margin: auto;
   
 
 .cityname{
     margin: 0 ;
 }
 .short_desctiption{
     font-weight: 100;
     color: #f5f5f5;
 }
.temperture{
   
   margin: -1.5rem 0 -1.5rem 3rem;
    font-size: 6rem;
    font-family: 'Roboto', sans-serif;
}

}
.min_max_tempertures{
    
    display: flex;
    justify-content: center;
   
    margin: auto;
   
    
    .min{
        margin-right: 1rem;
    }
}