$text-align-direction: left;
$box-color:#187bcd70 ;

.small_info_box {
  padding: 1rem;
  margin: .5rem;
  width: 100%;
  background-color: $box-color;
  border-radius: 2rem;
  aspect-ratio: 1/1;
  .box_content{
   font-size: 4vw;
   position: relative;
  top: 40%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

  .small_box_description {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.2rem;
    color: #bdbdbdbd;
    justify-content: $text-align-direction;
    //text-align: $text-align-direction;
  }
}
