.header-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .icon{
        color: white;
        margin-right: 1rem;
    }
.tabs{
    .MuiButtonBase-root{
        padding: 0;
        color: darkgray;
    }
    .MuiIcon-root{
        
        font-size: small;
    }
    .selected-tab{
        color: white;
    }
}

background-color: #187bcd;
}
header{
    height: 7vh;
    width: 100%;
   
    position: fixed;
    top:0;
    z-index: 10000;
}